

/*Background color elements */
html{
background-color: #09a832;
padding: 5px;

}

/* Header Elements */
header{
text-align: center;
text-decoration: underline;
background-size: auto;
}

/* Heading Elements */
h1, h2, h3, h4{
text-decoration: underline;
text-align: center;
color:#092fa8;
}

/* Paragraph and Other Body Elements */

li{
margin-bottom: 10px;
line-height: 1.5;
font-size: 16px;
}

ul, ol{ 
  border: 3px solid #a88109;       
  border-radius: 10px;          
  padding: 15px;                
  width: fit-content;  
  box-shadow: 2px 2px 4px#000000;         
}

ul{
    margin-left: auto;            
    margin-right: auto;           
}

footer{
color:#092fa8;
background-color: #a88109;
background-size: auto;
font-size: medium;
}

/*Styles for the links */
a{
   text-decoration: none;
color:#000000;
font-weight: bold;
}

a:hover{
 text-decoration: underline;   
color: #a88109;
font-weight:bolder
}

a:visited{
text-decoration: underline;
color: #092fa8;
}