html{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.tiers{
    border-collapse: collapse;
    width: 100%;
    border: 2px solid yellow;
    color: white;
    background-color: red;
}

.tiers td, .tiers th{
    border: 1px solid yellow;
    padding: 8px;
    text-align: center;
}

 tr:nth-of-type(even) {
            background-color: red;
        }
        tr:nth-of-type(odd) {
            background-color: blue;
        }

/*background image for the body*/
img{
    width: 120px;
    height: 120px;
    padding: 3px;


}

.backimg{background-image: url("images/mvc3.png");
background-size: cover;
background-repeat: no-repeat;
background-size: cover;
background-color: rgba(223, 223, 219, 0.5); /* semi-transparent background */

}

.backimg::before{
content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(97, 31, 31, 0.5); /* Adjust alpha for more/less transparency */
  pointer-events: none; /* Allows clicks through overlay */
  z-index: 0;
}

.backimg > *{
    position: relative;
    z-index: 1; /* Ensure content is above the overlay */
}

h1, h2{
color: yellow;
text-align: center;
border: 5px dotted blue;

}

p{
    font-size: 16px;
    line-height: 1.5;
    margin: 10px;
    color: yellow;
    
}

fieldset{
    background-color: rgba(16, 4, 146, 0.6); /* semi-transparent background */
    border: 2px solid yellow;
    padding: 10px;
    margin: 10px;
    color: yellow;
}

nav{
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
}

footer{
    text-align: center;
    font-size: 14px;
    color: yellow;
    margin-top: 20px;
background-color: blue;

}