/* Basic CSS Stylesheet */

/* Body styling */
body {
    background-image: url('pictures/matrix.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #fffcfc;
}

body::before{
content: '';
position: absolute;
top: 0;
left: 0;    
width: 100%;    
height: 100%;
background: rgba(0, 0, 0, 0.5);
z-index: -1;
}

table, tr, th, td {
    border-collapse: collapse;
    width: auto;
    height: 15%;
    padding: 10px;
    margin: 0 auto;;
    background-color: #00d9dc;
    border: 2px solid;
    border-radius: 5px;
    align-content: center;
}
/* Heading styling */
h1, h2, h3 {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    color: #fdfdfd;
    text-align: center;
    margin: 20px 0;
}

/* Paragraph styling */
p {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.6;
    margin: 10px 0;
    color: #ffffff;
    text-align: left;
    padding: 5px;
}

/* Navigation styling */
nav {
    color: #000000;
    padding: 10px;
    text-align: center;
    font-size: 10 px;
}
nav a {
    color: #00d9dc;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 5px;
}
nav a:hover {
    color: #ffffff;
    transition: transform 1s ease, color 0.5s;
    transform: rotate(360deg);
    text-decoration: underline;
}

nav a:visited {
    color: #1b690d;
    text-decoration: none;
    font-weight: none;

}

/* Footer styling */
footer {
    background-color: #1693e1;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Unordered list styling */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: #00d9dc;
    text-decoration: underline;
    text-align: left;
    font-weight: normal;
    transition: font-weight 0.3s ease;
}

a:hover {
    color: #00d9dc;
    text-decoration: none;
    font-weight: bold;
}



/* Layout Rules for Mobile Devices */

@media screen and (max-width: 700px) { /*Targets screens that are less than or equal to 700 pixels in width. */
    
    .container {
        flex-direction: column;
        .image {
            flex: none;
            width: 95%; /* Fluid width (relative to container size) */
            margin: auto; /* Center items horizontally */
          }
        }
        
    }

/* The media query for desktop screens */
@media screen and (min-width: 1024px) { /* Target screens wider than 1024px */
    .container {
      flex-direction: row; /* Arrange items side-by-side */
      flex-wrap: wrap; /* Allow wrapping to new rows if necessary */
    }
  
    .item {
      flex: auto; /* Auto-adjusts to fit screen */
      margin: 15px; /* Margins for spacing */
    }
}