/* Styles for Larger Screens */
.container {
display: flex;
flex-wrap: wrap;
gap: 20px;
}

.image {
    flex: 1; /* Equal space for items */
    min-width: 200px;
}

/* The media query for mobile devices.*/
@media screen and (max-width: 700px) { /*Targets screens that are less than or equal to 700 pixels in width. */
    
    .container {
        flex-direction: column;
        .image {
            flex: none;
            width: 95%; /* Fluid width (relative to container size) */
            margin: auto; /* Center items horizontally */
          }
        }
        
    }

/* The media query for desktop screens */
@media screen and (min-width: 1024px) { /* Target screens wider than 1024px */
    .container {
      flex-direction: row; /* Arrange items side-by-side */
      flex-wrap: wrap; /* Allow wrapping to new rows if necessary */
    }
  
    .item {
      flex: auto; /* Auto-adjusts to fit screen */
      margin: 15px; /* Margins for spacing */
    }
}

  
/* Header */
h1, h2, h3, h4, h5, h6 {
  text-decoration: underline; /* Adds an underline to all header tags */
}


body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #000000;
    color: #08bc1a;
    margin: 10;
    padding: 0;
    text-align: center;
}

/* Main */
.main {
    background-image: url('Labs/Lab5/matrix_style.jpg'); 
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    padding: 20px; /* Adds space inside the main area */
    color: white; /* Adjust text color for readability on the background */
  }
  
/* changing the color of the links */
a{
color: #0ed7ea;
margin: auto;
display: block;
border: #08bc1a;
border-style: double;
border-width: 5px;
font-size: 18px;
}
/* Section */
h2 {
    color: #08bc1a;
    
}

ul {
    text-align: left;
    margin: 0 auto;
    max-width: 600px;
    list-style-type: square;
}

/* Footer */
footer {
    background-color: #006405;
    font-size: 10px;
    color: rgb(238, 238, 238);
    padding: 10px;
    margin-top: 20px;
}
