body{
background-color: rgba(232, 227, 194, 0.5); /* semi-transparent background */
font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
background-image: url("images/oreoCheesecake.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: center;
}

body::before{
content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(232, 227, 194, 0.87); /* Adjust alpha for more/less transparency */
  pointer-events: none; /* Allows clicks through overlay */
  z-index: 0;
}

header, main, footer, nav, h1, h2, h3, p{
z-index: 1;
position: relative;
color: #393830;
}

h1, h2, h3{
text-align: center;
color: #3e3d34;
border: dashed;
border-width: 3px;
background-color:#c2e8c5;
padding: 20px;
}

h2{
margin-left: 20%;
margin-right: 20%;
}

h3{
 margin-left: 35%;
 margin-right: 35%;
}

a{
text-decoration: none;
color: #3e3d34;
}


a:hover{
text-decoration: underline;
color: rgb(93, 52, 22);
font-weight: bold;
}

nav a.active{
  color: #ff0101;
  font-weight: bolder;
  text-decoration: underline;
}

img{
display:block;
margin-left:auto;
margin-right:auto;
border-style: solid;
}

ul{
list-style-type: none;
}

/*for Javascript navigation bar*/
.topnav {  /*for basic top navigation setup*/
  overflow: hidden;
  background-color: #c2e8c5;
  border-style: solid;
  border-width: 5px;
  border-color: #e3c2e8;
 margin-left: auto;
 margin-right: auto;
 text-align: left;
 width: 80%;
}

.topnav a { /*styles the links within the navigation bar */
  float: left;
  display: block;
  color: #3e3d34;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover { /* style changes when hovering over links */
  background-color: #e3c2e8;
  color: #ff0101 !important;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: underline;
}
.topnav a.active { /* style for active webpage */
  background-color: #ff0101;
  color: #c2e8c5 !important ;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
}

.topnav a:visited{
color: #040d4d;
font-weight: bold;
text-decoration: underline;
}

.topnav .icon { /* for the icon that appears when resizing */
  display: none;
}


/* Media quesry for when the screen is less than 600 pixels wide. Makes all links hidden except for home. */
@media screen and (max-width: 600px) {
  .topnav ul li:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive ul li {
    float: none;
    display: block;
    text-align: left;
  }


}