/* Basic layout to be applied to tierlist.html */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #04135d;
}

p{
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
    border-radius: 5px;
    border-top: #ffffff solid 2px;
    border-bottom: #ffffff solid 2px;
}

h1 {
    text-align: center;
      font-size: 48px;
    font-weight: bold;
    background: linear-gradient(to top, #d4136d,rgb(225, 32, 64), #ffffff);
        -webkit-background-clip: text;
        color: transparent;  

}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    margin: 20 px 0;
    min-width: 400px;
    color: white;
}
th{
    background-color: #d4136d;
    color: white;
    padding: 15px;
    text-align: left;
    font-size: 16px;

}
tr, td{
    padding: 15px;
    border-bottom: 2px solid #0c0000;
    border-left: 2px solid #0c0000;
    text-align: center
}
tr:nth-child(1) { background-color: gold; color: black } 
tr:nth-child(2) { background-color: silver; color: black} 
tr:nth-child(3) { background-color: rgb(168, 67, 16); } 
tr:nth-child(4) { background-color:  rgb(2, 61, 2); } 
tr:nth-child(5) { background-color:  rgb(53, 24, 7); }
td:nth-child(1) {font-weight: bold;}

.special-cell1 {
    background-image: url(imagesforlab/GER.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    opacity: 1;
    size: auto;
    height: 100px;
    width: 100px;
}
 
.special-cell2{
    background-image: url('imagesforlab/stonemask.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    opacity: 0.8; 
    size: auto;
    height: 100px;
    width: 100px;
}

nav{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: #d4136d;
    font-weight: bold;
    text-decoration:none;
    border-style: groove;
    border-color: #d4136d;
    border-width: 6px;
}
a{
    color: #d4136d;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: #f54195;
    text-decoration: underline;
}
a:visited{
    color: #ffffff;
    text-decoration: underline;
    font-weight: none;
}
footer{
    text-align: left;
    font-size: 10px;
    color:#ffffff;
    margin-top: 15px;
}

h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to top, #d4136d,rgb(225, 32, 64), #ffffff);
        -webkit-background-clip: text;
        color: transparent;  
}

/* Below is the CSS for Contact.html */
label{
    color:#d4136d;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    display: block;
    margin: 20px 0;
    border-radius: 5px;
    
}

.radio-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}